# UNIDAD 01

In [ ]:
#r "nuget: Microsoft.DotNet.Interactive.SqlServer, *-*"

In [ ]:
foreach (var line in System.IO.File.ReadLines(".env"))
{
    var parts = line.Split('=');
    if (parts.Length == 2)
    {
        var key = parts[0].Trim();
        var value = parts[1].Trim();
        Environment.SetEnvironmentVariable(key, value);
    }
}

string connectionString = "Server=" + Environment.GetEnvironmentVariable("Server") + ";Database=" + Environment.GetEnvironmentVariable("Database") + ";User Id=" + Environment.GetEnvironmentVariable("User") + ";Password=" + Environment.GetEnvironmentVariable("Password") + ";Encrypt=True;TrustServerCertificate=True;Connection Timeout=30;";

In [ ]:
#!connect mssql --kernel-name Pampero @csharp:connectionString

In [ ]:
SELECT BASE64_ENCODE(CAST ('Instituto Lujan Buen Viaje' AS VARBINARY));

In [ ]:
SELECT BASE64_DECODE('SW5zdGl0dXRvIEx1amFuIEJ1ZW4gVmlhamU=');
SELECT CAST(BASE64_DECODE('SW5zdGl0dXRvIEx1amFuIEJ1ZW4gVmlhamU=') AS VARCHAR(100));

In [ ]:
SELECT TRY_CAST('prueba' AS float) AS Resultado;

SET DATEFORMAT dmy;  
SELECT TRY_CAST('12/31/2010' AS datetime2) AS Resultado;  

SET DATEFORMAT mdy;  
SELECT CAST('12/31/2010' AS datetime2) AS Resultado;  

SELECT TRY_CAST(4 AS xml) AS Resultado;

In [ ]:
SELECT CAST(10.6496 AS int) as trunc1, 
CAST(-10.6496 AS int) as trunc2, 
CAST(10.6496 AS numeric) as round1, 
CAST(-10.6496 AS numeric) as round2;

In [ ]:
SELECT CAST(10.3496847 AS money); -- Redondea

In [ ]:
SELECT SUBSTRING(NombreProducto, 1, 30) AS NombreProd, PrecioUnitario  
FROM Productos
WHERE CAST(PrecioUnitario AS numeric) LIKE '3%'; 

SELECT SUBSTRING(NombreProducto, 1, 30) AS NombreProd, PrecioUnitario   
FROM Productos
WHERE CONVERT(numeric, PrecioUnitario) LIKE '3%';

In [ ]:
SELECT 'El precio es ' + 
CAST(PrecioUnitario AS varchar(12)) AS Precio  
FROM Productos 
WHERE PrecioUnitario BETWEEN 35.00 AND 40.00;

In [ ]:
SELECT
 GETDATE() AS FechaHoraSinConvertir,
 CAST(GETDATE() AS nvarchar(30)) AS UsandoCast,
 CONVERT(nvarchar(30), GETDATE(), 126) AS UsandoConvertA_ISO8601,
 CONVERT(nvarchar(30), GETDATE(), 101) AS UsandoConvertA_101,
 CONVERT(nvarchar(30), GETDATE(), 103) AS UsandoConvertA_103;

In [ ]:
SELECT
    '2006-04-25T15:50:59.997' AS TextoSinConvertir,
    CAST('2006-04-25T15:50:59.997' AS datetime) AS UsandoCast,
    CONVERT(datetime, '2006-04-25T15:50:59.997', 126) AS UsandoConvertDe_ISO8601;

In [ ]:
SELECT TRY_CAST('prueba' AS float)

SET DATEFORMAT dmy;  
SELECT TRY_CAST('12/31/2010' AS datetime2) AS Resultado;  
SET DATEFORMAT mdy;  

SELECT TRY_CAST('12/31/2010' AS datetime2) AS Resultado;  
SELECT TRY_CAST(4 AS xml) AS Resultado;

In [ ]:
SELECT   
    CASE WHEN TRY_CAST('test' AS float) IS NULL   
    THEN 'Cast fallo'  
    ELSE 'Cast exito'  
END AS Resultado;

In [ ]:
SELECT
CAST('20170212 12:00:00.0000000' AS DATETIME2)
AT TIME ZONE 'Argentina Standard Time' AS val1,
CAST('20170212 12:00:00.0000000' AS DATETIME2)
AT TIME ZONE 'Pacific Standard Time' AS val2;

In [ ]:
DECLARE @d datetime2 = SYSDATETIME();
SELECT 'AÃ±o', DATETRUNC(year, @d);
SELECT 'Trimestre', DATETRUNC(quarter, @d);
SELECT 'Mes', DATETRUNC(month, @d);
SELECT 'Semana', DATETRUNC(week, @d);
SELECT 'Iso_Semana', DATETRUNC(iso_week, @d);
SELECT 'Dia', DATETRUNC(day, @d);
SELECT 'Hora', DATETRUNC(hour, @d);
SELECT 'Minuto', DATETRUNC(minute, @d);
SELECT 'Segundo', DATETRUNC(second, @d);
SELECT 'Milisegundo', DATETRUNC(millisecond, @d);
SELECT 'Microsegundo', DATETRUNC(microsecond, @d);