# Unidad 03

In [ ]:
#r "nuget: Microsoft.DotNet.Interactive.SqlServer, *-*"

In [ ]:
foreach (var line in System.IO.File.ReadLines(".env"))
{
    var parts = line.Split('=');
    if (parts.Length == 2)
    {
        var key = parts[0].Trim();
        var value = parts[1].Trim();
        Environment.SetEnvironmentVariable(key, value);
    }
}

string connectionString = "Server=" + Environment.GetEnvironmentVariable("Server") + ";Database=" + Environment.GetEnvironmentVariable("Database") + ";User Id=" + Environment.GetEnvironmentVariable("User") + ";Password=" + Environment.GetEnvironmentVariable("Password") + ";Encrypt=True;TrustServerCertificate=True;Connection Timeout=30;";

In [ ]:
#!connect mssql --kernel-name Pampero @csharp:connectionString

## JOINS

In [ ]:
-- ANSI SQL-92
SELECT C.IDCliente, E.IDEmpleado
FROM Clientes AS C CROSS JOIN Empleados AS E;
-- ANSI SQL-86
SELECT C.IDCliente, E.IDEmpleado
FROM Clientes AS C, Empleados AS E;

In [ ]:
SELECT E1.IDEmpleado, E1.Nombre, E1.Apellido, E2.IDEmpleado, E2.Nombre, E2.Apellido
FROM Empleados AS E1 CROSS JOIN Empleados AS E2;

In [ ]:
USE Pampero;
DROP TABLE IF EXISTS Digitos;
CREATE TABLE Digitos(digito INT NOT NULL PRIMARY KEY);
INSERT INTO Digitos(digito)
VALUES (0),(1),(2),(3),(4),(5),(6),(7),(8),(9);
SELECT digito FROM Digitos;
SELECT D3.digito * 100 + D2.digito * 10 + D1.digito + 1 AS n
FROM Digitos AS D1
CROSS JOIN Digitos AS D2
CROSS JOIN Digitos AS D3
ORDER BY n;

In [ ]:
-- ANSI SQL-92
SELECT E.IDEmpleado, E.Nombre, E.Apellido, O.IDPedido
FROM Empleados AS E JOIN Pedidos AS O ON E.IDEmpleado = O.IDEmpleado;

-- ANSI SQL-89
SELECT E.IDEmpleado, E.Nombre, E.Apellido, O.IDPedido
FROM Empleados AS E, Pedidos AS O
WHERE E.IDEmpleado = O.IDEmpleado;

In [ ]:
SELECT E1.IDEmpleado, E1.Nombre, E1.Apellido, E2.IDEmpleado, E2.Nombre, E2.Apellido
FROM Empleados AS E1 JOIN Empleados AS E2 
ON E1.IDEmpleado < E2.IDEmpleado;

In [ ]:
SELECT C.IDCliente, C.NombreEmpresa, O.IDPedido, DO.IDProducto, DO.Cantidad
FROM Clientes AS C 
JOIN Pedidos AS O ON C.IDCliente = O.IDCliente
JOIN [Detalles Pedido] AS DO ON O.IDPedido = DO.IDPedido;

In [ ]:
SELECT C.IDCliente, C.NombreEmpresa, O.IDPedido
FROM Clientes AS C LEFT OUTER JOIN Pedidos AS O 
ON C.IDCliente = O.IDCliente;

In [ ]:
SELECT C.IDCliente, C.NombreEmpresa
FROM Clientes AS C
WHERE C.IDCliente NOT IN (
SELECT O.IDCliente
FROM Pedidos AS O
WHERE O.IDCliente = C.IDCliente)

SELECT C.IDCliente, C.NombreEmpresa
FROM Clientes AS C LEFT OUTER JOIN Pedidos AS O 
ON C.IDCliente = O.IDCliente
WHERE O.IDPedido IS NULL;

In [ ]:
/* Crear un reporte que muestre IDPedido, y nombre de la empresa que realizó el pedido, y el nombre y apellido del empleado que lo ingresó. Sólo mostrar pedidos efectuados después del 1 de Enero de 2021 que fueron despachados luego de la fecha requerida. Ordenar por Nombre de empresa */
SELECT o.IDPedido, c.NombreEmpresa, e.Nombre, e.Apellido
FROM Pedidos o
    JOIN Empleados e ON (e.IDEmpleado = o.IDEmpleado)
    JOIN Clientes c ON (c.IDCliente = o.IDCliente)
WHERE o.FechaEnvio > o.FechaRequerida AND o.FechaPedido > '20210101'
ORDER BY c.nombreempresa;

In [ ]:
SELECT DATEADD(day, n-1, CAST('20190101' AS DATE)) AS FechaPedido
FROM Nums
WHERE n <= DATEDIFF(day, '20190101', '20211231') + 1
ORDER BY FechaPedido;

SELECT DATEADD(day, Nums.n - 1, CAST('20190101' AS DATE)) AS FechaPedido,
O.IDPedido, O.IDCliente, O.IDEmpleado
FROM Nums
LEFT OUTER JOIN Pedidos AS O
ON DATEADD(day, Nums.n - 1, CAST('20190101' AS DATE)) = DATETRUNC(DAY, O.FechaPedido)
WHERE Nums.n <= DATEDIFF(day, '20190101', '20211231') + 1
ORDER BY FechaPedido;

In [ ]:
SELECT C.IDCliente, COUNT(*) AS numordenes
FROM Clientes AS C
LEFT OUTER JOIN Pedidos AS O
ON C.IDCliente = O.IDCliente
GROUP BY C.IDCliente;

In [ ]:
SELECT C.IDCliente, COUNT(O.IDPedido) AS numordenes
FROM Clientes AS C
LEFT OUTER JOIN Pedidos AS O
ON C.IDCliente = O.IDCliente
GROUP BY C.IDCliente;